<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test thread-count="1" name="loginTest">
    <classes>
             <class name="TestRunner.loginPageTest"/>
      </classes>
  </test>
  <test thread-count="1" name="signupTest">
    <classes>
            
             <class name="TestRunner.signupPageTest"/>  
    </classes>
  </test>  <!-- Test -->
   
</suite> <!-- Suite -->
